// define the markdown style
.markdown li {
    list-style-type: disc;
}
.markdown a {
    text-decoration-style: solid;
    text-decoration-line: underline;
    color: blue;
}
.markdown tr {
    border-bottom: 1px solid #eee;
}
.markdown td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 1rem;
}
.markdown td:first-child {
    white-space:nowrap;
}