{{ $name :=  printf "%s %s" .Site.Params.firstName .Site.Params.lastName }}

<header class="bg-gray-800 text-white px-4 mx-auto">
    <nav class="navbar">
        
        <div class="navbar-left">
            
            <a class="whitespace-nowrap font-bold no-underline" href="{{ .Site.BaseURL }}">{{ $name }}</a>

            <a href="mailto:{{ .Site.Params.email }}" class="hover:text-blue-400" aria-label="{{ $name }} Email">
                <i class="fa-solid fa-envelope h-6"></i>
            </a>
            
            <a href="{{ .Site.Params.linkedin }}" target="_blank" class="hover:text-blue-400" aria-label="{{ $name }} LinkedIn Profile">
                <i class="fa-brands fa-linkedin h-6"></i>
            </a>
            
            <a href="{{ .Site.Params.orcid }}" target="_blank" class="hover:text-blue-400" aria-label="{{ $name }} ORCID Profile">
                {{ with resources.Get "img/orcid-logo.PNG" }}
                <img src="{{ .RelPermalink }}" class="h-6">
                {{ end }}
            </a>
        </div>

        <i class="fa-solid fa-bars" id="burger-icon"></i>

        <div class="navbar-right">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a href="{{ safeURL .URL }}" {{ if (or (strings.HasPrefix .URL "http") (strings.HasSuffix .URL ".pdf")) }} target="_blank" rel="external nofollow noopener"{{ end }} class="whitespace-nowrap no-underline {{ if eq $currentPage.RelPermalink .URL }}text-theme{{ end }}">
                    {{ .Name }}
                </a>
            {{ end }}
        </div>
    </div>

    {{ $navbarJs := resources.Get "js/navbar.js" | minify | fingerprint }}
    <script src="{{ $navbarJs.RelPermalink }}"></script>

</header>
